/* Add styling for your page here */
@font-face {
  font-family: quark;
  src: url("../public/fonts/Quark_Cheese.otf") format("opentype");
}

.App {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.App .title {
  font-family: quark;
  width: 100%;
  font-size: 6em;
  margin: 0 0 0.4em 0;
  color:rgb(108, 58, 33);
}

.App .left {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 3em;
}

.App .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.App .right {
  margin: none;
  width: 22% ;
}

.App .filters {
  /* border: 2px solid rgb(187, 143, 85); */
  background-color: rgb(255, 247, 235);
  border-radius: 1.5em;
  margin-top: 4em;
  padding: 1.5em;
}

.App h4{
  margin: 0.2em;
}

.App #filter {
  margin-top: 1em;
}

.App h5 {
  margin: 0.2em;
  margin-top: 0.8em;
}

.App label {
  font-size: smaller;
}

.cart {
  border: 2px solid rgb(187, 143, 85);
  border-radius: 1.5em;
  padding: 1.5em;
  margin-top: 2em;
}
.carttitle {
  margin-top: 0;
}
.cartitems hr {
  border-top: 1.5px solid rgb(187, 143, 85);
  width: 96%;
}

.App .cartitem {
  display: inline;
  font-size: smaller;
}

.App .remove {
  display: inline;
  font-size:x-small;
  margin-left: 0.5em;
  color: rgb(187, 143, 85);
  cursor:default;
}

.App .remove:hover {
  text-decoration: underline;
  cursor:default;
}

.Cheese {
  background-color: rgb(255, 247, 235);
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0em 0.3em 1em rgb(231, 204, 169);
  /* height: 24em; */
  position: relative;
  height: fit-content;
}
.Cheese img {
  width: 100%;
  border-radius: 1em;
}

.Cheese h1 {
  font-size: 1em;
}

.Cheese h3 {
  font-size: 0.8em;
  font-weight: normal;
}

.Cheese h2 {
  font-size: 1em;
}

.Cheese .info {
  padding: 1em;
}

.Cheese .stats {
  margin: 0;
}

.Cheese button {
  background-color: rgb(187, 143, 85);
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  padding: 0.8em;
  border: none;
  border-radius: 2em;
  margin-top: 0.8em;
}

.Cheese .infoDiv {
  height: 7.5em;
}

.Cheese .priceButtonDiv {
  /* position: absolute;
  bottom: 1;  */
  width: 100%;
}

.Cheese .priceButtonDiv::after {
  content: "";
  display: table;
  clear: both;
}

.Cheese .priceDiv {
  float: left;
  width: 50%;
}

.Cheese .buttonDiv {
  float: right;
  width: 50%;
}

.Cheese button:hover {
  background-color: rgb(154, 115, 63);
}
